* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	background-color: rgb(0, 41, 80);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body:has(.pop-up) {
	overflow: hidden;
}

button {
	cursor: pointer;
	padding: 1rem 0.7rem;
	font-size: 1.2rem;
	outline: 3px solid white;
	color: white;
	border: none;
	background-color: rgb(0, 80, 154);
	border-radius: 0.3rem;
}